<!DOCTYPE html>
<html>
<head>
  <title>Express Boilerplate</title>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/lib/underscore-min.js"></script>
  <script src="/javascripts/lib/backbone-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/scripts.js"></script>
</head>

<body>
  Register
  <form method="POST">
    <input type="text" name="email" />
    <input type="text" name="password" />
    <input type="submit" />
  </form>
</body>
</html>
